version: '3.8'

services:
  
  node-service:
      build:
        context: ./node
        dockerfile: Dockerfile
      image: maxkikuchi/node:latest
      command: node index.js
      #command: "npm install express && node index.js"
      container_name: node
      volumes:
        - ./node:/usr/src/app
        - /usr/src/app/node_modules/
      restart: always
      tty: true
      networks: 
        - netnode
      
networks:
  netnode:
    driver: bridge